@import "@oxymammoth/ui/tailwind.css";
:root { color-scheme: light dark; }
html, body, #__next { height: 100%; }

body { background-image: radial-gradient(50% 50% at 50% 0%, rgba(0,0,0,.04), transparent 60%); }